body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.header, .footer {
    background-color: #1f2937;
    border-color: #1f2937;
    display: flex;
    padding-top: 0;
    padding-left: 64px;
    padding-right: 64px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
ul {
    list-style: none;
    display: flex;
}
li {
    padding: 10px;
}
#header-logo {
    font-size: 24px;
    color: #f9faf8;
}
ul, .hero2tex, .footer {
    font-size: 18px;
    color: #E5E7EB;
}
.upper {
    background-color: #1f2937;
    padding: 64px;
    padding-top: 20px;
    display: flex;
}
.text {
    width: 50%;
    padding-right: 64px;
}
#cat {
    object-fit: contain;
    width: 500px;

}
h1 {
    font-size: 48px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}
.bmid {
    background-color: #e5e7eb;
    padding: 60px;
    padding-left: 120px;
    padding-right: 120px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.imgsub {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 128px;
}
.imgsub img {
    max-width: 128px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}
.quote {
    font-size: 36px;
    color: #1f2937;

}
button {
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

button, .words {
    background-color: #3882f6;
    color: #f9faf8;
}
.speaker {
    text-align: right;
}
.bbox {
    display: flex;
    flex-direction: row;
    padding: 2em 0;
    margin: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
}
.bbox button {
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid white;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

