body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header, .footer {
    background-color: #1f2937;
    border-color: #1f2937;
    display: flex;
    padding: 64px;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
}
li {
    padding: 10px;
}
#header-logo {
    font-size: 24px;
    color: #f9faf8;
}
ul, .hero2tex, .footer {
    font-size: 18px;
    color: #E5E7EB;
}
.upper {
    background-color: #1f2937;
    padding: 64px;
    display: flex;
}
.text {
    width: 50%;
    padding-right: 64px;
}
.cat {
    width: 50%;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}
.bmid {
    background-color: #e5e7eb;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imgsub {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 128px;
}
.imgsub img {
    max-width: 128px;
}
.quote {
    font-size: 36px;
    color: #1f2937;

}
button {
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

button, .words {
    background-color: #3882f6;
    color: #f9faf8;
}

